<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.simple.mapper.UserMapper">

	<resultMap id="userMap" type="SysUser">
		<id property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="userPassword" column="user_password" />
		<result property="userEmail" column="user_email" />
		<result property="userInfo" column="user_info" />
		<result property="headImg" column="head_img" jdbcType="BLOB" />
		<result property="createTime" column="create_time"
			jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="userRoleListMap" extends="userMap"
		type="SysUser">
		<collection 
			property="roleList" 
			columnPrefix="role_"
			resultMap="tk.mybatis.simple.mapper.RoleMapper.rolePrivilegeListMap">
		</collection>
	</resultMap>


	<select id="selectAllUserAndRoles"
		resultMap="userRoleListMap">
		select
			u.id,
			u.user_name,
			u.user_password,
			u.user_email,
			u.user_info,
			u.head_img,
			u.create_time,
			r.id role_id,
			r.role_name role_role_name,
			r.enabled role_enabled,
			r.create_by role_create_by,
			r.create_time role_create_time,
			p.id role_privilege_id,
			p.privilege_name role_privilege_privilege_name,
			p.privilege_url role_privilege_privilege_url
			from sys_user u
			inner join sys_user_role ur on u.id = ur.user_id
			inner join sys_role r on ur.role_id = r.id
			inner join sys_role_privilege rp on rp.role_id = r.id
			inner join sys_privilege p on p.id = rp.privilege_id
	</select>

</mapper>